global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "fastapi"
    static_configs:
      - targets: ["host.docker.internal:8000"]

  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]